<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Contact Us</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

 <!-- Select -->
<link rel="stylesheet"
	th:href="@{assets/vendor/bootstrap-select-1.13.14/dist/css/bootstrap-select.css}"
	href="../static/assets/vendor/bootstrap-select-1.13.14/dist/css/bootstrap-select.css">
<!-- Favicons -->
<link href="../static/assets/img/favicon.png"
	th:href="@{assets/img/favicon.png}" rel="icon">
<link href="../static/assets/img/apple-touch-icon.png"
	th:href="@{assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,700"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}"
	href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link th:href="@{assets/vendor/font-awesome/css/font-awesome.min.css}"
	href="../static/assets/vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet">
<link th:href="@{assets/vendor/ionicons/css/ionicons.min.css}"
	href="../static/assets/vendor/ionicons/css/ionicons.min.css"
	rel="stylesheet">
<link
	th:href="@{assets/vendor/owl.carousel/assets/owl.carousel.min.css}"
	rel="stylesheet">
<link th:href="@{assets/vendor/venobox/venobox.css}"
	href="../static/assets/vendor/venobox/venobox.css" rel="stylesheet">
<link th:href="@{assets/vendor/aos/aos.css}"
	href="../static/assets/vendor/aos/aos.css" rel="stylesheet">

<!--  Main CSS File -->
<link th:href="@{assets/css/style.css}"
	href="../static/assets/css/style.css" rel="stylesheet">

 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
       
        <a th:href="@{home}"><img src="../assets/img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li ><a th:href="@{home}">Home</a></li>
          
          
          <li sec:authorize="hasAuthority('Role_ResponsableDomaine') or hasAuthority('Role_ResponsableStage')" class="drop-down"><a href="">Received Requests</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
             
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li>
          <li><a th:href="@{about}" >About Us</a></li>
          <li><a th:href="@{contact}" style="color:#397BFF;">Contact Us</a></li>
          <li sec:authorize="isAuthenticated()" class="drop-down notification" data-aos="zoom-out-down">
          	<a href="#" >
          		<i class="fa fa-bell" ></i>
          		<span class="counter counter-lg">10</span>
          	</a>
            <ul>
              <li><a href="#">Notification 1</a></li>
              <hr>
              <li><a href="#">Notification 2</a></li>
              <hr>
              <li><a href="#">Notification 3</a></li>
              <hr>
              <li><a href="#">Notification 4</a></li>
            </ul>
          </li>
          <li sec:authorize="isAuthenticated()"  class="drop-down notification rounded" style="border: 2px solid #1545B3;box-shadow:0 0 10px rgba(21, 69, 179,0.4); background-color: #1545B3 ;"><a style="color:#fff;" th:text="${#authentication.principal.username[0].toUpperCase()+#authentication.principal.username[1].toUpperCase()}" href=""></a>
            <ul>
              <li><a th:href="@{logout}">Log out</a></li>
             
              
            </ul>
          </li>
          <li sec:authorize="isAnonymous()" class="btns_login rounded"  ><a th:href="@{/login}"  > Log In</a></li>
        </ul>
      </nav><!-- .main-nav -->

    </div>
  </header><!-- #header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Contact Us</h2>
          <ol>
            <li><a th:href="@{home}">Home</a></li>
            <li>Contact Us</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

 
      
      

    <!-- ======= Contact Section ======= -->
    <section  class="pt-4" id="contact">
      <div class="container-fluid" data-aos="fade-up">


        <div class="row">



          <div class="col-lg-6">
            <div class="map mb-4 mb-lg-0">
              <iframe src="https://maps.google.com/maps?q=casablanca&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen></iframe>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-4 info">
                <i class="ion-ios-location-outline"></i>
                <p>A108 Adam Street, NY 535022</p>
              </div>
              <div class="col-md-5 info">
                <i class="ion-ios-email-outline"></i>
                <p>InternshipTeam@gmail.com</p>
              </div>

              <div class="col-md-3 info">
                <i class="ion-ios-telephone-outline"></i>
                <p>+212 65 895 54 88</p>
              </div>
            </div>

            <div class="form">
              <form action="" method="post" role="form" class="contactUs-form">
                <div class="form-row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validate"></div>
                  </div>
                  <div class="form-group col-lg-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validate"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validate"></div>
                </div>
                <div class="mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->



  </main><!-- End #main -->

   <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>INTERNSHIP</h3>
            <p>With our service, you can send your internship requests more easily. The processing of requests will therefore be easier and the response will also be sent to you in a shorter time.</p>
          </div>
          <div class="col-lg-1 col-md-6 "></div>
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="index.html">Services</a></li>
              <li><a href="contact_us.html">Contact us</a></li>
              <li><a href="about_us.html">About us</a></li>
            </ul>
          </div>
          <div class="col-lg-1 col-md-6 "></div>
          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              A108 Adam Street, NY 535022<br>
              <strong>Phone:</strong> +212 65 895 54 88<br>
              <strong>Email:</strong> InternshipTeam@gmail.com<br>
            </p>
            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

         

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><script> var CurrentYear = new Date().getFullYear(); document.write(CurrentYear)</script></strong>. All Rights Reserved
      </div>
      <div class="credits">
       
        <a href="#">internship Team</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

	<!-- Vendor JS Files -->
	<script th:src="@{assets/vendor/jquery/jquery.min.js}"
		src="../static/assets/vendor/jquery/jquery.min.js"></script>
	<script th:src="@{assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"
		src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script th:src="@{assets/vendor/jquery.easing/jquery.easing.min.js}"
		src="../static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
	<script th:src="@{assets/vendor/counterup/counterup.min.js}"
		src="../static/assets/vendor/counterup/counterup.min.js"></script>
	<script th:src="@{assets/vendor/isotope-layout/isotope.pkgd.min.js}"
		src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
	<script th:src="@{assets/vendor/owl.carousel/owl.carousel.min.js}"
		src="../static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
	<script th:src="@{assets/vendor/waypoints/jquery.waypoints.min.js}"
		src="../static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
	<script th:src=" @{assets/vendor/venobox/venobox.min.js}"
		src="../static/assets/vendor/venobox/venobox.min.js"></script>
	<script th:src="@{assets/vendor/aos/aos.js}"
		src="../static/assets/vendor/aos/aos.js"></script>
	<!-- Select2 -->
	<script
		th:src="@{assets/vendor/bootstrap-select-1.13.14/dist/js/bootstrap-select.js}"
		src="../static/assets/vendor/bootstrap-select-1.13.14/dist/js/bootstrap-select.js"></script>
	<!--  Main JS File -->
	<script th:src="@{assets/js/main.js}" src="../static/assets/js/main.js"></script>

</body>

</html>