<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Home</title>
<meta content="" name="descriptison">
<meta content="" name="keywords">

<!-- Select -->
<link rel="stylesheet"
	th:href="@{assets/vendor/bootstrap-select-1.13.14/dist/css/bootstrap-select.css}"
	href="../static/assets/vendor/bootstrap-select-1.13.14/dist/css/bootstrap-select.css">
<!-- Favicons -->
<link href="../static/assets/img/favicon.png"
	th:href="@{assets/img/favicon.png}" rel="icon">
<link href="../static/assets/img/apple-touch-icon.png"
	th:href="@{assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.3.0/font-awesome-animation.min.css" />

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,700"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}"
	href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link th:href="@{assets/vendor/font-awesome/css/font-awesome.min.css}"
	href="../static/assets/vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet">
<link th:href="@{assets/vendor/ionicons/css/ionicons.min.css}"
	href="../static/assets/vendor/ionicons/css/ionicons.min.css"
	rel="stylesheet">
<link
	th:href="@{assets/vendor/owl.carousel/assets/owl.carousel.min.css}"
	rel="stylesheet">
<link th:href="@{assets/vendor/venobox/venobox.css}"
	href="../static/assets/vendor/venobox/venobox.css" rel="stylesheet">
<link th:href="@{assets/vendor/aos/aos.css}"
	href="../static/assets/vendor/aos/aos.css" rel="stylesheet">

<!--  Main CSS File -->
<link th:href="@{assets/css/style.css}"
	href="../static/assets/css/style.css" rel="stylesheet">


</head>

<body>

	<!-- ======= Header ======= -->
	<header id="header" class="fixed-top">
		<div class="container">

			<div class="logo float-left">

				<a th:href="@{home}"><img src="../assets/img/logo.png" alt=""
					class="img-fluid"></a>
			</div>

			<nav class="main-nav float-right d-none d-lg-block">
				<ul>
					<li class="active"><a th:href="@{home}">Home</a></li>

					<li
						sec:authorize="isAnonymous() or hasAnyAuthority('Role_Stagiaire')"><a
						href="#services">Services</a></li>

					<li class="drop-down"><a href=""
						sec:authorize="hasAnyAuthority('Role_ResponsableDomaine','Role_ResponsableStage')">Domains</a>
						<a href="" sec:authorize="hasAnyAuthority('Role_Stagiaire')">My
							Requests</a>
						<ul>
							<li
								sec:authorize="hasAnyAuthority('Role_ResponsableDomaine','Role_ResponsableStage')"
								th:each="d:${T(com.stage.entities.Domaine).values()}"><a
								th:href="@{requests(domain=__${d}__)}" th:text="${d}"></a></li>
							<li sec:authorize="hasAnyAuthority('Role_Stagiaire')"
								th:each="d:${T(com.stage.entities.Domaine).values()}"><a
								th:href="@{userSentRequests(domain=__${d}__)}" th:text="${d}"></a>
							</li>

						</ul></li>
					<li><a th:href="@{about}">About Us</a></li>
					<li><a th:href="@{contact}">Contact Us</a></li>
					<li sec:authorize="isAuthenticated()"
						class="drop-down notification" data-aos="zoom-out-down"><a
						href="#"><i
							th:class="${notifications.empty==false ? 'fa fa-bell faa-ring animated fa-3x':'fa fa-bell'} "></i>
							<span class="counter counter-lg"
							th:text="${#lists.size(notifications)}">10</span> </a>
						<ul>
							<li th:if="${notifications.empty==true}"><div align="center">Nothing
									new</div></li>
							<li th:if="${notifications.empty==false}"
								th:each="notif:${notifications}"><a
								th:href="@{EditNotification(request=${notif.demandeStage.id},notification=${notif.id})}"
								style="display: flex; justify-content: center; border-bottom: 1px solid #DDDDDD;">
									<i class="fa fa-envelope-o"
									style="color: #DDDDDD; padding-right: 20px; padding-top: 15px; font-size: 25px;"></i>

									<span> <span th:text="${notif.contenu}"></span><br>

										<small><strong>Domain: </strong><span
											th:text="${notif.demandeStage.domaine}"></span></small><br> <small
										th:text="${'--'+notif.date+'--'}"></small>
								</span>

							</a></li>


						</ul></li>
					<li sec:authorize="isAuthenticated()"
						class="drop-down notification rounded"
						style="border: 2px solid #1545B3; box-shadow: 0 0 10px rgba(21, 69, 179, 0.4); background-color: #1545B3;">
						<a style="color: #fff;"
						th:text="${#authentication.principal.username[0].toUpperCase()+#authentication.principal.username[1].toUpperCase()}"
						href=""> </a>
						<ul>

							<li><a th:href="@{logout}">Log out</a></li>


						</ul>
					</li>
					<li sec:authorize="isAnonymous()" class="btns_login rounded"><a
						th:href="@{/login}"> Log In</a></li>
				</ul>
			</nav>
			<!-- .main-nav -->

		</div>
	</header>
	<!-- #header -->

	<!-- ======= Intro Section: Stagiaire ======= -->
	<section id="intro" class="clearfix"
		sec:authorize="isAnonymous() or hasAnyAuthority('Role_Stagiaire')">
		<div class="container" data-aos="fade-up">

			<div class="intro-img" data-aos="zoom-out" data-aos-delay="200">
				<img src="assets/img/we-create.png" alt="" class="img-fluid">
			</div>

			<div class="intro-info" data-aos="zoom-in" data-aos-delay="100">
				<h2>
					Send your<br> <span> Internship Request</span><br> more
					easily!
				</h2>

				<div>
					<a th:href="@{request}" class="btn-get-started scrollto"><span
						class="mr-2">+</span> Add an Internship Request</a> <a
						href="#services" class="btn-services scrollto"><i
						class="fa fa-chevron-circle-down fa-lg"></i> Our Services</a>
				</div>
			</div>

		</div>
	</section>
	<!-- End Intro Section -->

	<main
		sec:authorize="hasAnyAuthority('Role_ResponsableDomaine','Role_ResponsableStage')">
		<!-- ======= Intro Section: responsable stage et domaine ======= -->
		<section id="intro" class="clearfix">
			<div class="container" data-aos="fade-up">

				<div class="intro-img" data-aos="zoom-out" data-aos-delay="200">
					<img src="assets/img/we-create.png" alt="" class="img-fluid">
				</div>

				<div class="intro-info" data-aos="zoom-in" data-aos-delay="100">
					<h2>
						Welcome Back To<br> <span> Internship,</span><br> Check
						If You've Received New Notifications Today!
					</h2>

					<div align="center">
						<a href="#domaines" class="btn-get-started scrollto"><span
							class="mr-2"><i class="fa fa-chevron-circle-down fa-lg"></i></span>
							Domains</a>
					</div>
				</div>

			</div>

		</section>
		<!-- End Intro Section -->

		<!-- ======= Domains Section ======= -->
		<section id="domaines" class="section-bg">
			<div class="container" data-aos="fade-up">

				<header class="section-header">
					<h3>Domains</h3>
					<p>Choose One Of These Domains To Get The Requests It Contains.</p>
				</header>

				<div class="row justify-content-center">

					<div class="col-md-6 col-lg-5" data-aos="zoom-in"
						data-aos-delay="100">
						<div class="box">
							<div class="icon">
								<i class="ion-android-laptop" style="color: #ff689b;"></i>
							</div>
							<h4 class="title">
								<a th:href="@{requests(domain='Computer_Science')}">Computer
									Sciences</a>
							</h4>
							<p class="description">IT & Technology services, Telecoms &
								Digital planning of territories, IS risks, security &
								controls...</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-5" data-aos="zoom-in"
						data-aos-delay="200">
						<div class="box">
							<div class="icon">
								<i class="ion-social-usd-outline" style="color: #e9bf06;"></i>
							</div>
							<h4 class="title">
								<a th:href="@{requests(domain='Commerce')}">Commerce</a>
							</h4>
							<p class="description">Assistant digital marketing analyst,
								assistant product manager, brand manager, Social media manager /
								assistant communication...</p>
						</div>
					</div>

					<div class="col-md-6 col-lg-5" data-aos="zoom-in"
						data-aos-delay="100">
						<div class="box">
							<div class="icon">
								<i class="ion-erlenmeyer-flask" style="color: #3fcdc7;"></i>
							</div>
							<h4 class="title">
								<a th:href="@{requests(domain='Industry')}">Industry</a>
							</h4>
							<p class="description">Production management, Product
								quality, Supply Chain Management, Lean Manufacturing, Customer / supplier relationship management...</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-5" data-aos="zoom-in"
						data-aos-delay="200">
						<div class="box">
							<div class="icon">
								<i class="ion-arrow-graph-up-right" style="color: #41cf2e;"></i>
							</div>
							<h4 class="title">
								<a th:href="@{requests(domain='Finance')}">Finance</a>
							</h4>
							<p class="description">Financial communication,
								Technical-functional consultant in Market Finance, Structured
								Finance and Syndication...</p>
						</div>
					</div>

				</div>

			</div>
		</section>
		<!-- End Domains Section -->
	</main>

	<main id="main"
		sec:authorize="isAnonymous() or hasAnyAuthority('Role_Stagiaire')">



		<!-- ======= Services Section ======= -->
		<section id="services" class="section-bg">
			<div class="container" data-aos="fade-up">

				<header class="section-header">
					<h3>Services</h3>

				</header>

				<div class="row justify-content-center">

					<div class="col-md-6 col-lg-5" data-aos="zoom-in"
						data-aos-delay="100">
						<div class="box">
							<div class="icon">
								<i class="ion-ios-analytics-outline" style="color: #ff689b;"></i>
							</div>
							<h4 class="title">Deep analysis of offers & Requests</h4>
							<p class="description">In public contracts, it is a step in
								the award of the contract following the analysis of applications
								and pursuing as an objective the choice of the economically and
								technically most advantageous tender.</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-5" data-aos="zoom-in"
						data-aos-delay="200">
						<div class="box">
							<div class="icon">
								<i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i>
							</div>
							<h4 class="title">Useful Documentation and Training</h4>
							<p class="description">To learn, describe, explain, or give
								instructions regarding certain attributes of an object, system,
								or procedure, such as its parts, assembly, installation,
								maintenance, and use.</p>
						</div>
					</div>

					<div class="col-md-6 col-lg-5" data-aos="zoom-in"
						data-aos-delay="100">
						<div class="box">
							<div class="icon">
								<i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i>
							</div>
							<h4 class="title">Filing of useful administrative documents</h4>
							<p class="description">Build a complete online CV containing
								all the necessary sections to prove technical and communicative
								skills and all other administrative documents.</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-5" data-aos="zoom-in"
						data-aos-delay="200">
						<div class="box">
							<div class="icon">
								<i class="ion-ios-speedometer-outline" style="color: #41cf2e;"></i>
							</div>
							<h4 class="title">Speed ​​of response and processing to our
								customers</h4>
							<p class="description">Internship consists of a competent
								staff. He is always available to our customers to follow them
								and make sure to give them answers, both quick and precise.</p>
						</div>
					</div>



				</div>

			</div>
		</section>
		<!-- End Services Section -->

		<!-- ======= Why Us Section ======= -->
		<section id="why-us" style="background-color: rgba(21, 69, 179, 0.7)">
			<div class="container" data-aos="fade-up">
				<header class="section-header">
					<h3>Why choose us?</h3>
					<p>We are the leaders</p>
				</header>

				<div class="row row-eq-height justify-content-center">

					<div class="col-lg-4 mb-4">
						<div class="card" data-aos="zoom-in" data-aos-delay="100">
							<i class="fa fa-diamond"></i>
							<div class="card-body">
								<h5 class="card-title">Lead you to excellence</h5>
								<p class="card-text">Make you a better student and employee
									and cultivate your innovative spirit</p>

							</div>
						</div>
					</div>

					<div class="col-lg-4 mb-4">
						<div class="card" data-aos="zoom-in" data-aos-delay="200">
							<i class="fa fa-language"></i>
							<div class="card-body">
								<h5 class="card-title">Communication</h5>
								<p class="card-text">Improve your communication and your
									entrepreneurial skills .</p>

							</div>
						</div>
					</div>

					<div class="col-lg-4 mb-4">
						<div class="card" data-aos="zoom-in" data-aos-delay="300">
							<i class="fa fa-object-group"></i>
							<div class="card-body">
								<h5 class="card-title">Touch all</h5>
								<p class="card-text">We make you in touch of several modern
									and recommended technologies and skills .</p>

							</div>
						</div>
					</div>

				</div>



			</div>
		</section>
		<!-- End Why Us Section -->



		<!-- ======= Testimonials Section ======= -->
		<!--<section id="testimonials" class="section-bg">
			<div class="container" data-aso="zoom-in">

				<header class="section-header">
					<h3>What People Say About Us</h3>
				</header>

				<div class="row justify-content-center">
					<div class="col-lg-8">

						<div class="owl-carousel testimonials-carousel">

							<div class="testimonial-item">
								<img src="assets/img/testimonial-1.jpg" class="testimonial-img"
									alt="">
								<h3>Saul Goodman</h3>
								<h4>Ceo &amp; Founder</h4>
								<p>Proin iaculis purus consequat sem cure digni ssim donec
									porttitora entum suscipit rhoncus. Accusantium quam, ultricies
									eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
								</p>
							</div>

							<div class="testimonial-item">
								<img src="assets/img/testimonial-2.jpg" class="testimonial-img"
									alt="">
								<h3>Sara Wilsson</h3>
								<h4>Designer</h4>
								<p>Export tempor illum tamen malis malis eram quae irure
									esse labore quem cillum quid cillum eram malis quorum velit
									fore eram velit sunt aliqua noster fugiat irure amet legam anim
									culpa.</p>
							</div>

							<div class="testimonial-item">
								<img src="assets/img/testimonial-3.jpg" class="testimonial-img"
									alt="">
								<h3>Jena Karlis</h3>
								<h4>Store Owner</h4>
								<p>Enim nisi quem export duis labore cillum quae magna enim
									sint quorum nulla quem veniam duis minim tempor labore quem
									eram duis noster aute amet eram fore quis sint minim.</p>
							</div>

							<div class="testimonial-item">
								<img src="assets/img/testimonial-4.jpg" class="testimonial-img"
									alt="">
								<h3>Matt Brandon</h3>
								<h4>Freelancer</h4>
								<p>Fugiat enim eram quae cillum dolore dolor amet nulla
									culpa multos export minim fugiat minim velit minim dolor enim
									duis veniam ipsum anim magna sunt elit fore quem dolore labore
									illum veniam.</p>
							</div>

							<div class="testimonial-item">
								<img src="assets/img/testimonial-5.jpg" class="testimonial-img"
									alt="">
								<h3>John Larson</h3>
								<h4>Entrepreneur</h4>
								<p>Quis quorum aliqua sint quem legam fore sunt eram irure
									aliqua veniam tempor noster veniam enim culpa labore duis sunt
									culpa nulla illum cillum fugiat legam esse veniam culpa fore
									nisi cillum quid.</p>
							</div>

						</div>

					</div>
				</div>

			</div>
		</section>-->
		<!-- End Testimonials Section -->





	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<footer id="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">

					<div class="col-lg-4 col-md-6 footer-info">
						<h3>INTERNSHIP</h3>
						<p>With our service, you can send your internship requests
							more easily. The processing of requests will therefore be easier
							and the response will also be sent to you in a shorter time.</p>
					</div>
					<div class="col-lg-1 col-md-6 "></div>
					<div class="col-lg-2 col-md-6 footer-links">
						<h4>Useful Links</h4>
						<ul>
							<li><a th:href="@{home}">Home</a></li>
							<li><a href="#services">Services</a></li>
							<li><a th:href="@{about}">Contact us</a></li>
							<li><a th:href="@{contact}">About us</a></li>
						</ul>
					</div>
					<div class="col-lg-1 col-md-6 "></div>
					<div class="col-lg-4 col-md-6 footer-contact">
						<h4>Contact Us</h4>
						<p>
							A108 Adam Street, NY 535022<br> <strong>Phone:</strong> +212
							65 895 54 88<br> <strong>Email: </strong>
							InternshipTeam2020@gmail.com<br>
						</p>

						<div class="social-links">
							<a href="#" class="twitter"><i class="fa fa-twitter"></i></a> <a
								href="#" class="facebook"><i class="fa fa-facebook"></i></a> <a
								href="#" class="instagram"><i class="fa fa-instagram"></i></a> <a
								href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
							<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
						</div>

					</div>



				</div>
			</div>
		</div>

		<div class="container">
			<div class="copyright">
				&copy; Copyright <strong><script>
					var CurrentYear = new Date().getFullYear();
					document.write(CurrentYear)
				</script></strong>. All Rights Reserved
			</div>
			<div class="credits">
				By <a href="#">internship Team, at KERES</a>
			</div>
		</div>
	</footer>
	<!-- End Footer -->

	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

	<!-- Vendor JS Files -->
	<script th:src="@{assets/vendor/jquery/jquery.min.js}"
		src="../static/assets/vendor/jquery/jquery.min.js"></script>
	<script th:src="@{assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"
		src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script th:src="@{assets/vendor/jquery.easing/jquery.easing.min.js}"
		src="../static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
	<script th:src="@{assets/vendor/counterup/counterup.min.js}"
		src="../static/assets/vendor/counterup/counterup.min.js"></script>
	<script th:src="@{assets/vendor/isotope-layout/isotope.pkgd.min.js}"
		src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
	<script th:src="@{assets/vendor/owl.carousel/owl.carousel.min.js}"
		src="../static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
	<script th:src="@{assets/vendor/waypoints/jquery.waypoints.min.js}"
		src="../static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
	<script th:src=" @{assets/vendor/venobox/venobox.min.js}"
		src="../static/assets/vendor/venobox/venobox.min.js"></script>
	<script th:src="@{assets/vendor/aos/aos.js}"
		src="../static/assets/vendor/aos/aos.js"></script>
	<!-- Select2 -->
	<script
		th:src="@{assets/vendor/bootstrap-select-1.13.14/dist/js/bootstrap-select.js}"
		src="../static/assets/vendor/bootstrap-select-1.13.14/dist/js/bootstrap-select.js"></script>
	<!--  Main JS File -->
	<script th:src="@{assets/js/main.js}" src="../static/assets/js/main.js"></script>



</body>

</html>