<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Request Details</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">


<!-- Select -->
<link rel="stylesheet"
	th:href="@{assets/vendor/bootstrap-select-1.13.14/dist/css/bootstrap-select.css}"
	href="../static/assets/vendor/bootstrap-select-1.13.14/dist/css/bootstrap-select.css">
<!-- Favicons -->
<link href="../static/assets/img/favicon.png"
	th:href="@{assets/img/favicon.png}" rel="icon">
<link href="../static/assets/img/apple-touch-icon.png"
	th:href="@{assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,700"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}"
	href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link th:href="@{assets/vendor/font-awesome/css/font-awesome.min.css}"
	href="../static/assets/vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet">
<link th:href="@{assets/vendor/ionicons/css/ionicons.min.css}"
	href="../static/assets/vendor/ionicons/css/ionicons.min.css"
	rel="stylesheet">
<link
	th:href="@{assets/vendor/owl.carousel/assets/owl.carousel.min.css}"
	rel="stylesheet">
<link th:href="@{assets/vendor/venobox/venobox.css}"
	href="../static/assets/vendor/venobox/venobox.css" rel="stylesheet">
<link th:href="@{assets/vendor/aos/aos.css}"
	href="../static/assets/vendor/aos/aos.css" rel="stylesheet">

<!--  Main CSS File -->
<link th:href="@{assets/css/style.css}"
	href="../static/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">

        <a th:href="@{home}"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li><a th:href="@{home}">Home</a></li>
          <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li>

          <li><a th:href="@{about}">About Us</a></li>
          <li><a th:href="@{contact}">Contact Us</a></li>
          <li class="drop-down notification">
            <a href="#" >
              <i class="fa fa-bell" ></i>
              <span class="counter counter-lg">10</span>
            </a>
            <ul>
              <li><a href="#">Notification 1</a></li>
              <hr>
              <li><a href="#">Notification 2</a></li>
              <hr>
              <li><a href="#">Notification 3</a></li>
              <hr>
              <li><a href="#">Notification 4</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- .main-nav -->

    </div>
  </header><!-- #header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Request Details</h2>
          <ol>
            <li><a th:href="@{home}">Home</a></li>
            <li>Request Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="pt-4" style="display: flex;justify-content: center;margin-bottom: 10px;">
      <button class="btn btn-primary" data-toggle="modal" data-target="#decisionModal">Make Your Decision</button>

      <!-- Statut Modal -->
      <div class="modal fade" id="decisionModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalLabel">Make Decision</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="post" class="p-4  rounded">

                <fieldset>
                  <div class=" form-group container">
                    <div >
                      <label for="decision">Decision</label>
                      <select class="selectpicker border rounded " id="decision"  data-style="btn-black" data-width="100%" data-live-search="true" title="Make Decision" required="required">
                        <option value="Interview">Interview</option>
                        <option value="Refused">Refused</option>
                        
                      </select>
                    </div>


                  </div>
                  <hr>
                  <input type="submit" class="btn btn-primary" value="Save changes" style="float: right;">
                </fieldset>

              </form> 
            </div>

          </div>
        </div>
      </div>



    </section>

    <section class="pt-4" data-aos="fade-up">
      <div class="container" style="box-shadow: 0 0 10px rgba(0,0,0,0.3);padding: 20px;">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <img src="assets/img/testimonial-4.jpg" id="CV-img" alt="">
          </div>
          <div class="col-lg-9 col-md-9">
            <div align="center"><h1>Matt Brandon</h1></div>
            <div align="center"><h4>Software Ingineering</h4></div>
            <div align="justify">
              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
            </div>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-lg-4 col-md-4" style="border-right: 1px solid grey;">
            <div class="FirstSections" id="InfoPersonnelles">
              <h4><i class="fa fa-id-card-o"></i>Personal Information</h4>
              <ul >
                <li>
                  <strong>Email: </strong>Brandon@gmail.com.
                </li>
                <li>
                  <strong>Phone: </strong>+212 625 23 58 45.
                </li>
                <li>
                  <strong>Address: </strong>A108 Adam Street, NY 53502. Casablanca, Morocco.
                </li>
                <li>
                  <strong>Postal Code: </strong>150000
                </li>
              </ul>
            </div>
            &nbsp;
            <div class="FirstSections" id="Hobbies">
              <h4><i class="fa fa-puzzle-piece">  </i>Hobbies</h4>
              <ul>
                <li>Reading, Music, Coding.</li>
              </ul>
            </div>
            &nbsp;
            <div class="FirstSections" id="LettreMotivation">
              <h4><i class="fa fa-envelope">  </i>Cover Letter</h4>
              <ul>
                <li><a href="#" target="_blank">Click here to see the Cover Letter.</a></li>
              </il>
            </div>
            &nbsp;
            <div class="FirstSections"  id="LettreMotivation">
              <h4><i class="fa fa-file-text"></i>Other Documents</h4>
              <ul>
                <li><a href="#" target="_blank">Document 1.</a></li>
                <li><a href="#" target="_blank">Document 2.</a></li>
                <li><a href="#" target="_blank">Document 3.</a></li>
              </ul>
            </div>
            &nbsp;
          </div>
          <div class="col-lg-8 col-md-8">
            <div class="SecondSections" id="formations">
              <h3><i class="fa fa-graduation-cap"></i>Education</h3>
              <ul>
                <li>
                  <p style="color: black;">
                    <strong>Mohammadia School Of Ingineers</strong><br>Master <strong>/</strong> 2018-2021

                  </p>
                  <p>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  </p>
                </li>
              </ul>
              
            </div>
            <hr>
            <div class="SecondSections" id="experiences">
              <h3><i class="fa fa-briefcase"></i>Experiences</h3>
              <ul>
                <li>
                  <p style="color: black;">
                    <strong>KERES SARL</strong><br>Web Developper <strong>/</strong> 01/07/2020-30/08/2020

                  </p>
                  <p>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  </p>
                </li>
              </ul>
              
            </div>
            &nbsp;
          </div>
        </div>
      </div>

      &nbsp;
    </section>

    <section class="pt-4" style="display: flex;justify-content: center;">
      <button class="btn btn-primary" data-toggle="modal" data-target="#decisionModal">Make Your Decision</button>
      
    </section>
    &nbsp;
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>INTERNSHIP</h3>
            <p>With our service, you can send your internship requests more easily. The processing of requests will therefore be easier and the response will also be sent to you in a shorter time.</p>
          </div>
          <div class="col-lg-1 col-md-6 "></div>
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="index.html">Services</a></li>
              <li><a href="contact_us.html">Contact us</a></li>
              <li><a href="about_us.html">About us</a></li>
            </ul>
          </div>
          <div class="col-lg-1 col-md-6 "></div>
          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              A108 Adam Street, NY 535022<br>
              <strong>Phone:</strong> +212 65 895 54 88<br>
              <strong>Email:</strong> InternshipTeam@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>



        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><script> var CurrentYear = new Date().getFullYear(); document.write(CurrentYear)</script></strong>. All Rights Reserved
      </div>
      <div class="credits">

        <a href="#">internship Team</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

	<!-- Vendor JS Files -->
	<script th:src="@{assets/vendor/jquery/jquery.min.js}"
		src="../static/assets/vendor/jquery/jquery.min.js"></script>
	<script th:src="@{assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"
		src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script th:src="@{assets/vendor/jquery.easing/jquery.easing.min.js}"
		src="../static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
	<script th:src="@{assets/vendor/counterup/counterup.min.js}"
		src="../static/assets/vendor/counterup/counterup.min.js"></script>
	<script th:src="@{assets/vendor/isotope-layout/isotope.pkgd.min.js}"
		src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
	<script th:src="@{assets/vendor/owl.carousel/owl.carousel.min.js}"
		src="../static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
	<script th:src="@{assets/vendor/waypoints/jquery.waypoints.min.js}"
		src="../static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
	<script th:src=" @{assets/vendor/venobox/venobox.min.js}"
		src="../static/assets/vendor/venobox/venobox.min.js"></script>
	<script th:src="@{assets/vendor/aos/aos.js}"
		src="../static/assets/vendor/aos/aos.js"></script>
	<!-- Select2 -->
	<script
		th:src="@{assets/vendor/bootstrap-select-1.13.14/dist/js/bootstrap-select.js}"
		src="../static/assets/vendor/bootstrap-select-1.13.14/dist/js/bootstrap-select.js"></script>
	<!--  Main JS File -->
	<script th:src="@{assets/js/main.js}" src="../static/assets/js/main.js"></script>

</body>

</html>