<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Update Internship Request</title>
<meta content="" name="description">
<meta content="" name="keywords">


<!-- Select -->
<link rel="stylesheet"
	href="assets/vendor/bootstrap-select-1.13.14/dist/css/bootstrap-select.css">


<!-- Select -->
<link rel="stylesheet"
	th:href="@{assets/vendor/bootstrap-select-1.13.14/dist/css/bootstrap-select.css}"
	href="../static/assets/vendor/bootstrap-select-1.13.14/dist/css/bootstrap-select.css">
<!-- Favicons -->
<link href="../static/assets/img/favicon.png"
	th:href="@{assets/img/favicon.png}" rel="icon">
<link href="../static/assets/img/apple-touch-icon.png"
	th:href="@{assets/img/apple-touch-icon.png}" rel="apple-touch-icon">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.3.0/font-awesome-animation.min.css" />
<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,700"
	rel="stylesheet">

<!-- Vendor CSS Files -->

<link th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}"
	href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link th:href="@{assets/vendor/font-awesome/css/font-awesome.min.css}"
	href="../static/assets/vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet">
<link th:href="@{assets/vendor/ionicons/css/ionicons.min.css}"
	href="../static/assets/vendor/ionicons/css/ionicons.min.css"
	rel="stylesheet">
<link
	th:href="@{assets/vendor/owl.carousel/assets/owl.carousel.min.css}"
	rel="stylesheet">
<link th:href="@{assets/vendor/venobox/venobox.css}"
	href="../static/assets/vendor/venobox/venobox.css" rel="stylesheet">
<link th:href="@{assets/vendor/aos/aos.css}"
	href="../static/assets/vendor/aos/aos.css" rel="stylesheet">

<!--  Main CSS File -->
<link th:href="@{assets/css/style.css}"
	href="../static/assets/css/style.css" rel="stylesheet">


</head>

<body>
	<!-- ======= Header ======= -->
	<header id="header" class="fixed-top">
		<div class="container">

			<div class="logo float-left">

				<a th:href="@{home}"><img src="../assets/img/logo.png" alt=""
					class="img-fluid"></a>
			</div>

			<nav class="main-nav float-right d-none d-lg-block">
				<ul>
					<li><a th:href="@{home}">Home</a></li>


					<li class="drop-down"><a href=""
						sec:authorize="hasAnyAuthority('Role_ResponsableDomaine','Role_ResponsableStage')">Domains</a>
						<a href="" sec:authorize="hasAnyAuthority('Role_Stagiaire')">My
							Requests</a>
						<ul>
							<li
								sec:authorize="hasAnyAuthority('Role_ResponsableDomaine','Role_ResponsableStage')"
								th:each="d:${T(com.stage.entities.Domaine).values()}"><a
								th:href="@{requests(domain=__${d}__)}" th:text="${d}"></a></li>
							<li sec:authorize="hasAnyAuthority('Role_Stagiaire')"
								th:each="d:${T(com.stage.entities.Domaine).values()}"><a
								th:href="@{userSentRequests(domain=__${d}__)}" th:text="${d}"></a>
							</li>

						</ul></li>
					<li><a th:href="@{about}">About Us</a></li>
					<li><a th:href="@{contact}">Contact Us</a></li>
					<li sec:authorize="isAuthenticated()"
						class="drop-down notification" data-aos="zoom-out-down"><a
						href="#"><i
							th:class="${notifications.empty==false ? 'fa fa-bell faa-ring animated fa-3x':'fa fa-bell'} "></i>
							<span class="counter counter-lg"
							th:text="${#lists.size(notifications)}">10</span> </a>
						<ul>
							<li th:if="${notifications.empty==true}"><div align="center">Nothing
									new</div></li>
							<li th:if="${notifications.empty==false}"
								th:each="notif:${notifications}"><a
								th:href="@{EditNotification(request=${notif.demandeStage.id},notification=${notif.id})}"
								style="display: flex; justify-content: center; border-bottom: 1px solid #DDDDDD;">
									<i class="fa fa-envelope-o"
									style="color: #DDDDDD; padding-right: 20px; padding-top: 15px; font-size: 25px;"></i>

									<span> <span th:text="${notif.contenu}"></span><br>

										<small><strong>Domain: </strong><span
											th:text="${notif.demandeStage.domaine}"></span></small><br> <small
										th:text="${'--'+notif.date+'--'}"></small>
								</span>

							</a></li>


						</ul></li>
					<li sec:authorize="isAuthenticated()"
						class="drop-down notification rounded"
						style="border: 2px solid #1545B3; box-shadow: 0 0 10px rgba(21, 69, 179, 0.4); background-color: #1545B3;">
						<a style="color: #fff;"
						th:text="${#authentication.principal.username[0].toUpperCase()+#authentication.principal.username[1].toUpperCase()}"
						href=""> </a>
						<ul>
							<li><a th:href="@{logout}">Log out</a></li>


						</ul>
					</li>
					<li sec:authorize="isAnonymous()" class="btns_login rounded"><a
						th:href="@{/login}"> Log In</a></li>
				</ul>
			</nav>
			<!-- .main-nav -->

		</div>
	</header>
	<!-- #header -->

	<main id="main">

		<!-- ======= Breadcrumbs Section ======= -->
		<section class="breadcrumbs" id="Request">
			<div class="container">

				<div class="d-flex justify-content-between align-items-center">
					<h2>Update Internship Request</h2>
					<ol>
						<li><a th:href="@{home}">Home</a></li>
						<li>Update Internship Request</li>
					</ol>
				</div>

			</div>
		</section>
		<!-- End Breadcrumbs Section -->

		<section class="pt-5" data-aos="fade-up">
			<div class="container">
				<div style="text-align: center; margin-bottom: 20px;" id="steps">
					<span class=""><i class="step fa fa-calendar-check-o"
						style="padding: 20px 20px;"></i></span> <span class=""><i
						class="step fa fa-id-card-o" style="padding: 20px 20px;"></i></span> <span
						class=""><i class="step fa fa-graduation-cap"
						style="padding: 20px 20px;"></i></span> <span class=""><i
						class="step fa fa-briefcase"></i></span> <span class=""><i
						class="step fa fa-puzzle-piece"></i></span> <span class=""><i
						class="step fa fa-envelope"></i></span> <span class=""><i
						class="step fa fa-file-text"></i></span>
				</div>

				<div id="invalidForm">
					<div class="row justify-content-center">
						<div
							class="container col-lg-11 col-md-11 alert alert-danger alert-dismissible fade show"
							role="alert">All fields with a red star must be completed !

						</div>
					</div>
				</div>
				<div id="invalidDates">
					<div class="row justify-content-center">
						<div
							class="container col-lg-11 col-md-11 alert alert-danger alert-dismissible fade show"
							role="alert">Check first the validity of the dates !</div>
					</div>
				</div>
				<form class="p-4 border rounded requestForms " id="requestForms"
					th:action="@{update}" method="post" th:object="${request}"
					enctype="multipart/form-data">

					<div class="p-5" id="SendingRequest">
						<div class="loading">
							<div class="dot"></div>
							<div class="dot"></div>
							<div class="dot"></div>
							<div class="dot"></div>
							<div class="dot"></div>
						</div>
						<div align="center">Updating ...</div>
					</div>

					

					<div>
						<input type="text" name="id" th:value="${request.id}"
							style="display: none;" />
					</div>

					<fieldset class="fieldset">

						<h3 class="text-black mb-5 border-bottom pb-2">Choose a
							Domaine & Specify The Period</h3>
						<div class="row justify-content-center">
							<div class="container col-lg-4 col-md-4">

								<div class=" form-group">

									<label for="domaine">Domaine <small class="important">*</small></label>
									<select class="selectpicker border rounded " id="domaine"
										name="domaine" th:field="*{domaine}" data-style="btn-black"
										data-width="100%" data-live-search="false"
										title="Select Domaine" required="required">
										<option th:each="d:${T(com.stage.entities.Domaine).values()}"
											th:value="${d}" th:text="${d}"></option>

									</select>

								</div>
								<div class=" form-group">


									<label for="stageDateDeb">Start Day <small
										class="important">*</small></label> <input type="date"
										class="form-control p-3" id="stageDateDeb" name="dateDeb"
										th:field="*{dateDeb}" title="Enter The date"
										required="required">

								</div>
								<div class=" form-group">


									<label for="stageDateFin">End Day <small
										class="important">*</small></label> <input type="date"
										class="form-control p-3" id="stageDateFin" name="dateFin"
										th:field="*{dateFin}" title="Enter The date"
										required="required">


								</div>
							</div>
						</div>




					</fieldset>

					<fieldset class="fieldset">
						<h3 class="text-black mb-5 border-bottom pb-2">Personal
							Information</h3>
						<input type="text" th:field="*{etatCivile.id}"
							style="display: none;" />
						<div class="row">
							<div class="col-lg-4 col-md-4">
								<div class="form-group" align="center"
									style="display: flex; justify-content: center;">

									<div>
										<div class="avatar-wrapper"
											style="border: 10px solid #DEE2E6; box-shadow: 0 0 10px #DEE2E6;">
											<img class="profile-pic"
												th:src="@{getPhoto(request=${request.id})}" />
											<div class="upload-button">
												<i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
											</div>
											<input class="file-upload" type="file" id="picture"
												name="photo" accept=".png,.jpg,.jpeg" />

										</div>
										<div align="center" id="avatarLabel">Profile Picture</div>
									</div>

									<!--Old pic name-->
									<input type="text" name="oldpic" th:value="*{etatCivile.photo}"
										style="display: none;" />
									<!--Old pic name-->

									<!--<div id="removeAvatar"
										onclick="if(confirm('Are you sure you want remove your profile picture ?','yes')){$('#picture').val('');$('.profile-pic').attr('src', '');}">
										<i class="fa fa-remove" title="Remove"></i>
									</div>-->
								</div>
							</div>
							<div class="col-lg-8 col-md-8">
								<div class="row form-group">
									<div class="col-lg-6 col-md-6">
										<label for="prenom">First Name <small
											class="important">*</small></label> <input type="text"
											class="form-control p-3" id="prenom"
											th:value="${stagiaire.prenom}" placeholder="First Name"
											required="required">
									</div>
									<div class="col-lg-6 col-md-6">
										<label for="nom">Last Name <small class="important">*</small></label>
										<input type="text" class="form-control p-3" id="nom"
											th:value="${stagiaire.nom}" placeholder="Last Name"
											required="required">
									</div>

								</div>
								<div class="row form-group">
									<div class="col-lg-6 col-md-6">
										<label for="email">Email <small class="important">*</small></label>
										<input type="email" class="form-control p-3" id="email"
											th:value="${stagiaire.email}" placeholder="Email Address"
											required="required">
									</div>
									<div class="col-lg-6 col-md-6">
										<label for="numTel">Phone Number <small
											class="important">*</small></label> <input type="text"
											class="form-control p-3" id="numTel" name="numTel"
											th:field="*{etatCivile.numTel}" placeholder="Phone Number"
											required="required">
									</div>

								</div>
								<div class="row form-group">
									<div class="col-lg-6 col-md-6">

										<label for="pays">Country <small class="important">*</small></label>
										<select class="selectpicker border rounded " id="pays"
											name="pays" th:field="*{etatCivile.pays.code}"
											data-style="btn-black" data-width="100%"
											data-live-search="false" title="Select Country"
											required="required">
											<option th:each="pays:${pays}" th:value="${pays.code}"
												th:text="${pays.nom}"></option>


										</select>

									</div>
									<div class="col-lg-6 col-md-6">
										<label for="ville">City <small class="important">*</small></label>
										<select class="selectpicker border rounded " id="ville"
											name="ville" th:field="*{etatCivile.ville.id}"
											data-style="btn-black" data-width="100%"
											data-live-search="false" title="Select City"
											required="required">
											<option class="villes" th:each="ville:${villes}"
												th:value="${ville.id}" th:text="${ville.nom}"></option>


										</select>

									</div>

								</div>
							</div>
						</div>



						<div class="row form-group">
							<div class="col-lg-6 col-md-6">
								<label for="adresse">Address <small class="important">*</small></label>
								<input type="text" class="form-control p-3" id="adresse"
									name="adresse" th:field="*{etatCivile.adresse}"
									placeholder="Address">
							</div>

							<div class="col-lg-6 col-md-6">
								<label for="codePostal">Postal Code <small
									class="important">*</small></label> <input type="number" max="5"
									min="5" class="form-control p-3" id="codePostal"
									name="codePostal" th:field="*{etatCivile.codePostal}"
									placeholder="Postal Code">
							</div>
						</div>


						<div class="form-group">
							<label for="profile">Profile <small class="important">*</small></label>
							<textarea class="form-control" id="profile" name="profile"
								th:field="*{etatCivile.profile}" rows="5" data-rule="required"
								data-msg="Write something about you" placeholder="Write.."
								required="required"></textarea>
							<div class="validate"></div>
						</div>

					</fieldset>



					<fieldset class="fieldset">
						<h3 class="text-black mb-5 border-bottom pb-2">Education</h3>
						<div id="EducationSection">
							<div th:each="formation,Stat : *{formations}"
								th:id="${'RemoveEducationSection'+__Stat.index__}">
								<div th:if="${__Stat.index__}>0">
									&nbsp;
									<hr>
									<div class="RemoveEducationSection"
										onclick="if(confirm('Do you really want to delete this section ?')){ $(this).parent().parent().remove();}"
										data-toggle="tooltip" data-placement="top"
										title="Remove This Section">
										<i class="fa fa-close"></i>
									</div>
									&nbsp;
								</div>

								<div class="row form-group">
									<div class="col-lg-6 col-md-6">
										<label for="title">Title <small class="important">*</small></label>
										<input type="text" class="form-control p-3" id="title"
											th:field="*{formations[__${Stat.index}__].titre}"
											placeholder="Title" required="required">
									</div>
									<div class="col-lg-6 col-md-6">
										<label for="institution">Institution <small
											class="important">*</small></label> <input type="text"
											class="form-control p-3" id="institution"
											th:field="*{formations[__${Stat.index}__].institution}"
											placeholder="Institution" required="required">
									</div>

								</div>
								<div class="row form-group">
									<div class="col-lg-6 col-md-6">
										<label for="dateDeb">Start Date <small
											class="important">*</small></label> <input type="month"
											class="form-control p-3" id="dateDeb"
											th:field="*{formations[__${Stat.index}__].dateDeb}"
											title="Enter The date" required="required">
									</div>
									<div class="col-lg-6 col-md-6">
										<label for="dateFin">End Date <small class="important">*</small></label>
										<input type="month" class="form-control p-3" id="dateFin"
											th:field="*{formations[__${Stat.index}__].dateFin}"
											title="Enter The date" required="required">
									</div>

								</div>

								<div class="form-group">
									<label for="Description">Description <small
										class="important">*</small></label>
									<textarea class="form-control" id="Description"
										th:field="*{formations[__${Stat.index}__].Description}"
										rows="5" data-rule="required"
										data-msg="Write something about this education"
										placeholder="Write.." required="required"></textarea>
									<div class="validate"></div>
								</div>


							</div>
						</div>

						&nbsp;

						<div id="addEducationSection" data-toggle="tooltip"
							data-placement="top" title="Add An Other Section">
							<i class="fa fa-plus"></i>
						</div>

					</fieldset>


					<fieldset class="fieldset">
						<h3 class="text-black mb-5 border-bottom pb-2">Experiences</h3>
						<div id="ExperienceSection">
							<div th:each="exp,Stat : *{experiences}"
								th:id="${'RemoveExperienceSection'+__Stat.index__}">
								<div th:if="${__Stat.index__}>0">
									&nbsp;
									<hr>
									<div class="RemoveExperienceSection"
										onclick="if(confirm('Do you really want to delete this section ?'){$(this).parent().parent().remove();}"
										data-toggle="tooltip" data-placement="top"
										title="Remove This Section">
										<i class="fa fa-close"></i>
									</div>
									&nbsp;
								</div>
								<div class="row form-group">
									<div class="col-lg-6 col-md-6">
										<label for="experienceTitle">Title <small
											class="important">*</small></label> <input type="text"
											class="form-control p-3" id="experienceTitle" name="titre"
											th:field="*{experiences[__${Stat.index}__].titre}"
											placeholder="Title" required="required">
									</div>
									<div class="col-lg-6 col-md-6">
										<label for="entreprise">Company <small
											class="important">*</small></label> <input type="text"
											class="form-control p-3" id="entreprise" name="entreprise"
											th:field="*{experiences[__${Stat.index}__].entreprise}"
											placeholder="Company" required="required">
									</div>

								</div>
								<div class="row form-group">
									<div class="col-lg-6 col-md-6">
										<label for="experienceDateDeb">Start Date <small
											class="important">*</small></label> <input type="month"
											class="form-control p-3" id="experienceDateDeb"
											name="dateDeb"
											th:field="*{experiences[__${Stat.index}__].dateDeb}"
											title="Enter The date" required="required">
									</div>
									<div class="col-lg-6 col-md-6">
										<label for="experienceDateFin">End Date <small
											class="important">*</small></label> <input type="month"
											class="form-control p-3" id="experienceDateFin"
											name="dateFin"
											th:field="*{experiences[__${Stat.index}__].dateFin}"
											title="Enter The date" required="required">
									</div>

								</div>

								<div class="form-group">
									<label for="experienceDescription">Description <small
										class="important">*</small></label>
									<textarea class="form-control" id="experienceDescription"
										name="Description"
										th:field="*{experiences[__${Stat.index}__].Description}"
										rows="5" data-rule="required"
										data-msg="Write something about this experience"
										placeholder="Write.." required="required"></textarea>
									<div class="validate"></div>
								</div>

							</div>
						</div>
						&nbsp;
						<div id="addExperienceSection" data-toggle="tooltip"
							data-placement="top" title="Add An Other Section">
							<i class="fa fa-plus"></i>
						</div>

					</fieldset>

					<fieldset class="fieldset">
						<h3 class="text-black mb-5 border-bottom pb-2">Hobbies</h3>
						<input type="text" th:field="*{hobbies.id}" style="display: none;" />
						<label for="hobbies">Specify Your Hobbies <small
							class="important">*</small></label>
						<textarea class="form-control" id="hobbies" name="hobbies"
							th:field="*{hobbies.hobbies}" rows="5" data-rule="required"
							data-msg="Please write something for us"
							placeholder="Reading, Music..." required="required"></textarea>
						<div class="validate"></div>

					</fieldset>

					<fieldset class="fieldset">

						<h3 class="text-black mb-5 border-bottom pb-2">
							Cover Letter (Write or Upload it) <small class="important">*</small>
						</h3>
						<input type="text" th:field="*{lettreMotivation.id}"
							style="display: none;" />
						<div class="row form-group">
							<div class="col-lg-6 col-md-6">

								<textarea class="form-control" id="coverLetter" name="contenu"
									th:field="*{lettreMotivation.contenu}" rows="9"
									data-rule="required" data-msg="Write your letter."
									placeholder="Write.."></textarea>
								<div class="validate"></div>
							</div>

							<div class="col-lg-1 col-md-1" align="center">
								<strong>OR</strong>
							</div>

							<div class="col-lg-5 col-md-5 ">

								<div class="choose-file text-center rounded"
									style="border: 2px dashed #DCDCDC; padding: 50px;">
									<label for="letter"> <span
										class="d-block font-weight-bold text-dark">Drop the
											letter to upload</span> <span class="d-block">or</span> <span
										class="d-block btn bg-primary text-white my-3 select-files">Select
											the letter</span> <input type="file" name="titre"
										class="form-control-file d-none" id="letter" accept=".pdf"
										required="required">
									</label>
								</div>
								<small th:text="${'File: '+request.lettreMotivation.titre}"></small>
							</div>
						</div>
						<!--Old Cover Letter name-->
						<input type="text" name="oldletter"
							th:value="*{lettreMotivation.titre}" style="display: none;" />
						<!--Old Cover Letter name-->
					</fieldset>


					<fieldset class="fieldset">

						<h3 class="text-black mb-5 border-bottom pb-2">Other
							Administrative Documents (Optional)</h3>
						<div id="AdministartiveDocSection">

							<div class=" form-group">
								<div class="choose-file text-center py-1 rounded"
									style="border: 2px dashed #DCDCDC;">
									<label for="document" class="LabelDocsUpload">
										<div>
											<div class="d-block font-weight-bold text-dark">Drop
												the documents to upload</div>
											<div class="d-block">or</div>
											<div class="d-block btn bg-primary text-white select-files">
												Select the documents</div>
										</div> <input type="file" name="titreDoc"
										class="form-control-file d-none" id="document"
										multiple="multiple" accept=".pdf">
									</label>
								</div>
								<span
									th:text="${'Files: '+#lists.size(request.documentAdministratif)}"></span>
								<ul>

									<li th:each="doc:*{documentAdministratif}"><small
										th:text="${doc.titre}"></small></li>
								</ul>
							</div>


						</div>
						

						<!--&nbsp;
		<div id="AddAdministartiveDocSection" data-toggle="tooltip" data-placement="top" title="Add An Other Section"><i class="fa fa-plus"></i></div>
-->

					</fieldset>

					&nbsp;
					<div>
						<div style="float: right;">
							<a href="#Request"><button type="button" id="prevBtn"
									class="btn btn-secondary" onclick="nextPrev(-1);">Previous</button></a>
							<a href="#Request"><button type="button" id="nextBtn"
									class="btn btn-primary" onclick="nextPrev(1);">Next</button></a>
						</div>
					</div>
					&nbsp;
				</form>
				&nbsp;
			</div>

		</section>

	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<footer id="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">

					<div class="col-lg-4 col-md-6 footer-info">
						<h3>INTERNSHIP</h3>
						<p>With our service, you can send your internship requests
							more easily. The processing of requests will therefore be easier
							and the response will also be sent to you in a shorter time.</p>
					</div>
					<div class="col-lg-1 col-md-6 "></div>
					<div class="col-lg-2 col-md-6 footer-links">
						<h4>Useful Links</h4>
						<ul>
							<li><a th:href="@{home}">Home</a></li>
							<li><a th:href="@{about}">Contact us</a></li>
							<li><a th:href="@{contact}">About us</a></li>
						</ul>
					</div>
					<div class="col-lg-1 col-md-6 "></div>
					<div class="col-lg-4 col-md-6 footer-contact">
						<h4>Contact Us</h4>
						<p>
							A108 Adam Street, NY 535022<br> <strong>Phone:</strong> +212
							65 895 54 88<br> <strong>Email:</strong>
							InternshipTeam2020@gmail.com<br>
						</p>

						<div class="social-links">
							<a href="#" class="twitter"><i class="fa fa-twitter"></i></a> <a
								href="#" class="facebook"><i class="fa fa-facebook"></i></a> <a
								href="#" class="instagram"><i class="fa fa-instagram"></i></a> <a
								href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
							<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
						</div>

					</div>

				</div>
			</div>
		</div>

		<div class="container">
			<div class="copyright">
				&copy; Copyright <strong><script>
					var CurrentYear = new Date().getFullYear();
					document.write(CurrentYear)
				</script></strong>. All Rights Reserved
			</div>
			<div class="credits">

				By <a href="#">internship Team, at KERES</a>
			</div>
		</div>
	</footer>
	<!-- End Footer -->

	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

	<!-- Vendor JS Files -->

	<script th:src="@{assets/vendor/jquery/jquery.min.js}"
		src="../static/assets/vendor/jquery/jquery.min.js"></script>
	<script th:src="@{assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"
		src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script th:src="@{assets/vendor/jquery.easing/jquery.easing.min.js}"
		src="../static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
	<script th:src="@{assets/vendor/counterup/counterup.min.js}"
		src="../static/assets/vendor/counterup/counterup.min.js"></script>
	<script th:src="@{assets/vendor/isotope-layout/isotope.pkgd.min.js}"
		src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
	<script th:src="@{assets/vendor/owl.carousel/owl.carousel.min.js}"
		src="../static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
	<script th:src="@{assets/vendor/waypoints/jquery.waypoints.min.js}"
		src="../static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
	<script th:src=" @{assets/vendor/venobox/venobox.min.js}"
		src="../static/assets/vendor/venobox/venobox.min.js"></script>
	<script th:src="@{assets/vendor/aos/aos.js}"
		src="../static/assets/vendor/aos/aos.js"></script>
	<!-- Select2 -->
	<script
		th:src="@{assets/vendor/bootstrap-select-1.13.14/dist/js/bootstrap-select.js}"
		src="../static/assets/vendor/bootstrap-select-1.13.14/dist/js/bootstrap-select.js"></script>
	<!--  Main JS File -->
	<script th:src="@{assets/js/main.js}" src="../static/assets/js/main.js"></script>



	<script type="text/javascript">
		var currentTab = 0;

		showTab(currentTab);

		function showTab(n) {
			var x = document.getElementsByClassName("fieldset");
			x[n].style.display = "block";
			if (n == 0) {
				document.getElementById("prevBtn").style.display = "none";
			} else {
				document.getElementById("prevBtn").style.display = "inline";
			}
			if (n == (x.length - 1)) {
				document.getElementById("nextBtn").innerHTML = "Send Request";
			} else {
				document.getElementById("nextBtn").innerHTML = "Next";
			}
			fixStepIndicator(n)
		}

		function nextPrev(n) {
			var x = document.getElementsByClassName("fieldset");
			if (n == 1 && !validateForm())
				return false;
			x[currentTab].style.display = "none";
			currentTab = currentTab + n;
			if (currentTab >= x.length) {
				document.getElementById("SendingRequest").style.display = "block";
				document.getElementById("requestForms").submit();

				return false;
			}
			showTab(currentTab);

		}

		function validateForm() {
			var x, y, z, t, dates = [], valid = true, validDates = true;
			x = document.getElementsByClassName("fieldset");
			y = x[currentTab].getElementsByTagName("input");
			z = x[currentTab].getElementsByTagName("textarea");
			t = x[currentTab].getElementsByTagName("select");
			for (var i = 0; i < t.length; i++) {
				if (t[i].value === '') {

					t[i].className += " invalid";

					valid = false;
				}

			}
			for (var i = 0; i < z.length; i++) {
				if (z[i].value == "") {

					z[i].className += " invalid";

					valid = false;
				}
			}

			if (currentTab == 1 || currentTab == 2 || currentTab == 3
					|| currentTab == 4) {

				if (currentTab == 1) {
					for (var i = 3; i < y.length; i++) {
						if (y[i].value == "") {

							y[i].className += " invalid";

							valid = false;
						}
					}

				} else {
					for (var i = 0; i < y.length; i++) {
						if (y[i].getAttribute('type') == "month") {
							dates.push(y[i]);
						}
						if (y[i].value == "") {

							y[i].className += " invalid";

							valid = false;
						}
					}
					if (!validateDate(dates)) {

						validDates = false;
					}
				}

			} else if (currentTab == 5) {

				lettre = x[5].getElementsByTagName("textarea");
				uploadLetter = x[5].getElementsByTagName("input");
				if (lettre[0].value == "" && uploadLetter[0].value == "") {
					lettre[0].className += " invalid";

					valid = false;

				}
			} else if (currentTab == 6) {
			} else {
				for (var i = 0; i < y.length; i++) {

					if (y[i].getAttribute('type') == "date") {
						dates.push(y[i]);
					}
					if (y[i].value == "") {

						y[i].className += " invalid";

						valid = false;
					}
				}
				if (!validateDate(dates)) {

					validDates = false;
				}

			}

			if (valid) {
				document.getElementById("invalidForm").style.display = "none";
				for (i = 0; i < y.length; i++) {
					y[i].className = y[i].className.replace(" invalid", "");
				}
				for (i = 0; i < z.length; i++) {
					z[i].className = z[i].className.replace(" invalid", "");
				}
				for (i = 0; i < t.length; i++) {
					t[i].className = t[i].className.replace(" invalid", "");
				}

			} else {
				document.getElementById("invalidForm").style.display = "block";
			}
			if (validDates) {
				document.getElementById("invalidDates").style.display = "none";
				for (i = 0; i < dates.length; i++) {
					dates[i].className = dates[i].className.replace(" invalid",
							"");
				}

			} else {
				document.getElementById("invalidDates").style.display = "block";
			}
			if (!valid || !validDates) {
				return false;
			}
			return true;
			// return the valid status
		}

		function validateDate(dates) {
			var valid = true;

			if (currentTab == 0 || currentTab == 2 || currentTab == 3) {

				if (currentTab == 1) {

					var date1 = new Date(dates[0].value);
					var date2 = new Date(dates[1].value);
					var nbreJour = (date2.getTime() - date1.getTime()) / 86400000;

					if (nbreJour < 0) {
						dates[0].className += " invalid";
						dates[1].className += " invalid";
						valid = false;
					}

				} else {
					for (i = 0; i < dates.length - 1; i += 2) {
						var date1 = new Date(dates[i].value);
						var date2 = new Date(dates[i + 1].value);
						var nbreJour = (date2.getTime() - date1.getTime()) / 86400000;

						if (nbreJour < 0) {
							dates[i].className += " invalid";
							dates[i + 1].className += " invalid";
							valid = false;
						}
					}
				}

			}

			return valid; // return the valid status
		}

		function fixStepIndicator(n) {
			var i, x = document.getElementsByClassName("step");
			for (i = 0; i < x.length; i++) {
				x[i].className = x[i].className.replace(" active", "");
			}
			x[n].className += " active";
		}
	</script>
</body>

</html>